{% load humanize %}

{% if new_products.exists %}
<!-- New Products Section -->
<section class="container py-10">
    <div class="mb-6 flex items-center justify-between gap-x-6 text-nowrap">
        <h4 class="font-semiBold lg:text-xl">تازه ترین ها</h4>
        <div class="h-0.25 w-full bg-secondary"></div>
        <a href="{% url 'filter_products_page' %}?ordering=newest">
            <div
                class="flex cursor-pointer items-center gap-x-2 text-sm text-primary duration-200 hover:text-primary/80 lg:text-base">
                <p>مشاهده همه</p>
                <i class="i-carbon-chevron-left"></i>
            </div>
        </a>
    </div>

    <div>
        <div class="swiper product-slider !px-px pt-4">
            <div class="swiper-wrapper py-px">
                <!-- product -->
                {% for new_product in new_products %}
                <div class="swiper-slide">
                    <div
                        class="border-gradient relative rounded-[--product-card-radius] p-px [--product-card-radius:theme(borderRadius.2xl)] before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-[--product-card-radius] before:content-['']">
                        <a href="{% url 'product_detail_page' new_product.slug %}"
                            class="relative block overflow-hidden rounded-[calc(var(--product-card-radius)-1px)] bg-muted">
                            <div class="mb-4 bg-secondary p-2 lg:p-4">
                                <!-- Special Sale Percentage  -->
                                {% if new_product.is_sale %}
                                <div
                                    class="absolute right-2 top-0 rounded-b-full bg-warning px-1 py-1.5 text-center text-sm font-medium text-white md:text-base">
                                    Off
                                </div>
                                {% endif %}
                                <!-- Image -->
                                <img src="{{new_product.image.url}}" alt="{{new_product.name}}"
                                    class="aspect-[1/1] w-full rounded-xl object-cover" />
                            </div>
                            <div class="mb-1 px-2 lg:px-4">
                                <p class="line-clamp-2 h-10 text-sm xs:h-12 xs:text-base">
                                    {{new_product.name}}
                                </p>

                                <div class="gap-x-1 text-end font-bold text-primary">
                                    {% if new_product.is_sale%}
                                    <div class="h-5 text-end text-sm text-text/50 xs:text-base">
                                        <del>{{new_product.price|intcomma}}</del>
                                    </div>

                                    <span class="text-sm xs:text-base">{{new_product.sale_price|intcomma}}</span>
                                    <span class="text-sm font-light">تومان</span>
                                    {% else %}
                                    <span class="text-sm xs:text-base">{{new_product.price|intcomma}}</span>
                                    <span class="text-sm font-light">تومان</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="h-8 px-2 lg:px-4"></div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}